
 CI_ENVIRONMENT = development

 app.baseURL = 'http://taskapp.localhost/'

database.default.hostname = 'database hostname'
database.default.database = 'database name'
database.default.username = 'database username'
database.default.password = 'database password'

HASH_SECRET_KEY = 'q6IuJuiVQdwX7oIxcJfCSJdVJkWux7XA'

email.SMTPHost = 'smtp.gmail.com'
email.SMTPUser = 'eduardfsh@gmail.com'
email.SMTPPass = 'zzftotoqagfusctw'
email.SMTPPort = '587'
email.SMTPCrypto = 'tls'
email.fromEmail = 'postmaster@sandbox5833e722709e4ccea9da77e124c91399.mailgun.org'